@{
    Layout = "~/Views/Shared/_Accounts.cshtml";
}

@model IEnumerable<Blogger.Models.User>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Username</td>
            </tr>
        }
    </tbody>
        
</table>